.DS_Store
.ipynb_checkpoints
*.log
build
__pycache__
output
*idea
*.gif
venv
*.csv
.mypy_cache
*_version.py
*.egg-info
.temp
*.png
tests/out_test/
*.npz
out_*
out1
out/
studies/uncertainty_testing/out
*_logs

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.h5
*.fot
*.cb
*.cb2
.*.lb
*.pdf
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib

.pytest_cache/
/dist/
